# HUGGINGFACE (SD3 AND FLUX DEV)
HF_TOKEN_NAME = <HF TOKEN NAME>
HF_TOKEN = <HUGGINGFACE TOKEN>

# AZUREOPENAI
OPENAI_API_KEY=<OPENAI KEY>
OPENAI_ENDPOINT=<OPENAI ENDPOINT>
OPENAI_DEPLOYED_MODEL=<MODEL DEPLOYMENT NAME>
MANAGED_IDENTITY_CLIENT_ID=<MANAGED IDENTITY CLIENT ID>

REPLICATE_API_TOKEN=<REPLICATE API TOKEN>